In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
"""A database is an organized collection of structured data,information. SQL is a structured query langauge and it is a relational database and used 
handle complex queries whereas NoSQL is a unstructured query language and it is not realtional database and it is not so good in handling complex
queries. Eg of SQL is MySQL,Oracle etc and eg of NoSQL is MongoDB, Cassandra etc."""

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
"""DDL stands for Data Definition Language.The DDL commands in SQL are used to create and modify schemas in a database and its objects.
1.CREATE- This command is used to create database,table etc.
   eg-  CREATE TABLE table_name;
2.DROP- This command is used to delete or remove database objects from SQL database.
   eg-  DROP TABLE tablr_name;
3.ALTER- This command is used to change or modify database objects from SQL database.
   eg-  ALTER TABLE table_name ADD column_name type;
4.TRUNCATE- This command is used to delete or remove record from a table.
   eg-  TRUNCATE TABLE table_name;

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
"""DML stands for Data Manipulation Language.DML commands are used to store,modify,update or delete the exisiting records from a database.
1.INSERT- This command allows user to add data in database tables.
   eg-  INSERT INTO table_name(column_names) VALUES (values);
2.UPDATE- This command is used to update or modify exisiting data in a table.
   eg- UPDATE table_name SET column_name WHERE condition;
3.DELETE- This command is used to delete single or multiple records from a database table.
   eg-  DELETE FROM table_name WHERE conditon;"""

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.
"""DQL stands for Data Query Language.It is used to fetch data from the database.
SELECT-This commmand is used to select and fetch data from the database.4
  eg- SELECT * FROM table_name;//THis select whole data from the table"""

In [ ]:
#Q5. Explain Primary Key and Foreign Key.
"""PRIMARY KEY-A primary key is a column (or set of columns) in a table that uniquely identifies each row in the table. 
   It cannot contain null values and must be unique across all rows in the table. Only one primary key is allowed in a table. 
   FOREIGN KEY-A foreign key is a column (or set of columns) in a table that refers to the primary key in another table. 
   It is used to establish a link between the two tables and is used to enforce referential integrity in the database.
   """

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.'
import mysql.connector
mydb=mysql.connector.connect(
    hostname="localhost",
    user="abc",
    password="password"
)
mycursor=mydb.cursor()
# A cursor is an object which helps to execute the query and fetch the records from the database. 
# The cursor plays a very important role in executing the query.
mycursor.execute("CREATE DATABASE if not exists test2")#this is command to create databse 
#execute() is used to accept a MySQL query as paramter and execute it

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.
"""
ORDER OF EXECTION OF CLAUSES IN QUERY:
FROM/JOIN->WHERE->GROUP BY->HAVING->SELECT->ORDER BY->LIMIT/OFFSET"""