In [6]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
s=pd.Series([4,8,15,16,23,42])
print("The series is :")
s

The series is :

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

l=[1,2,3,4,5,6,7,8,9,10]
pd.Series(l)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
#Q3. Create a Pandas DataFrame that contains the following data:
# Name      Age   Gender
# Alice     25    Female
# Bob       30    Male
# Claire    27    Female
data={"Name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
      "Gender":["Female","Male","Female"]
}
df=pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [20]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
"""DataFrame is a labelled data structure that organized data in 2-D table with rows and column
like SQL table.With this we can perform many operation on the data and archieved anything.
Pandas series is like a single column of a table contains a list of that column data 
whereas Dataframe is 2-D table contains data in row and column and can have any no of data.
Eg-"""
data={"Name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
      "Gender":["Female","Male","Female"]
}
df=pd.DataFrame(data)#this is a dataframe
print(df)
s=df["Name"]#series
print("\nThis is a series")
print(s)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

This is a series
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

In [21]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?
"""Some common functions we used are head()= to see frist five records
                                     tail()=to see last five records
                                     to_csv()= to convert and store data frame as csv file
                                     df["anycolumn]=To fetch any required column from data frame
                                     df[::]=to slice records

"""
data={"Name":["Alice","Bob","Claire"],
      "Age":[25,30,27],
      "Gender":["Female","Male","Female"]
}
df=pd.DataFrame(data)
#Now to fetch only name from this Data frame
df["Name"]

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

In [22]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
"""Panel and dataframe both are mutable in terms of values and size but
Series arre mutuable only in case of values but they are size immutable """

'Panel and dataframe both are mutable in terms of values and size but\nSeries arre mutuable only in case of values but they are size immutable '

In [25]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.
df=pd.DataFrame({"Name":pd.Series(["Alice","Bob","Claire"]),
      "Age":pd.Series([25,30,27]),
      "Gender":pd.Series(["Female","Male","Female"])})
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female