In [12]:

#Q1. List any five functions of the pandas library with execution.
"""Five pandas function are tail(),head(),describe(),dtypes,columns
"""
import pandas as pd
data={"Name":["Alice","Bob","Claire","robin","sam","aice","raghu"],
      "Age":[25,30,27,34,12,43,33],
      "Gender":["Female","Male","Female","Male","Female","Female","Male"]}
df=pd.DataFrame(data)#data frame created
print("Using head fucntion:\n",df.head())
print("Using tail fucntion:\n",df.tail())
print("Using describe fucntion:\n",df.describe())
print("Using dtypes fucntion:\n",df.dtypes)
print( df.columns)

Using head fucntion:
      Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
3   robin   34    Male
4     sam   12  Female
Using tail fucntion:
      Name  Age  Gender
2  Claire   27  Female
3   robin   34    Male
4     sam   12  Female
5    aice   43  Female
6   raghu   33    Male
Using describe fucntion:
              Age
count   7.000000
mean   29.142857
std     9.546877
min    12.000000
25%    26.000000
50%    30.000000
75%    33.500000
max    43.000000
Using dtypes fucntion:
 Name      object
Age        int64
Gender    object
dtype: object
Index(['Name', 'Age', 'Gender'], dtype='object')

In [38]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
# DataFrame with a new index that starts from 1 and increments by 2 for each row.
def r_index(df):
    new_index=[i for i in range(1,len(df)*2,2)]
    df.index=new_index
    return df

df=pd.DataFrame({"A":[1,2,3,4],"B":[2,3,4,5],"C":[3,4,5,6]})
r_index(df)

   A  B  C
1  1  2  3
3  2  3  4
5  3  4  5
7  4  5  6

In [64]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
# iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
# function should print the sum to the console.
def summ(df):
    sum=0
    for i in df["Values"][0:3]:
        sum+=i
    return sum
df=pd.DataFrame({"Values":[10,20,30,40,50]})
summ(df)

    
# summ(df)

60

In [65]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
# 'Word_Count' that contains the number of words in each row of the 'Text' column.
def word_count(df):
    df["word count"]=df["Text"].apply(lambda x:len(x.split()))
    return df

In [71]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?
"""DataFrame.size()- returns the no of elements in the dataframe
and DataFrame.shape- return the no of rows and colums in the DataFrame()"""
df=pd.DataFrame({"A":[1,2,3,4],"B":[2,3,4,5],"C":[3,4,5,6]})
print(df)
print(df.size)
print(df.shape)

   A  B  C
0  1  2  3
1  2  3  4
2  3  4  5
3  4  5  6
12
(4, 3)

In [72]:
#Q6. Which function of pandas do we use to read an excel file?
"""We use pandas.read_excel("filename) to read excel file"""

'We use pandas.read_excel("filename) to read excel file'

In [76]:
#Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
# addresses in the format 'username@domain.com'. Write a Python function that creates a new column
# 'Username' in df that contains only the username part of each email address.
def username(df):
    df["Username"]=df["Email"].apply(lambda x:x.split("@")[0])
    return df

df=pd.DataFrame({"Email":["anyone@mail.com","abc@yahooo.com"]})
username(df)

             Email Username
0  anyone@mail.com   anyone
1   abc@yahooo.com      abc

In [86]:
#Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
# all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
# function should return a new DataFrame that contains only the selected rows.
def test(df):
    df1=df[(df["A"]>5) & (df["B"]<10)]
    return df1
df=pd.DataFrame({"A":[3,8,6,2,9],
                 "B":[5,2,9,3,1],
                 "C":[1,7,4,5,2]})
test(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [91]:
#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
# median, and standard deviation of the values in the 'Values' column.
def test2(df):
    mean=df["Values"].mean()
    median=df["Values"].median()
    std=df["Values"].std()   
    return mean,median,std
df=pd.DataFrame({"Values":[1,2,3,4,5]})
test2(df)

(3.0, 3.0, 1.5811388300841898)

In [93]:
#Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
# create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
# for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
# should include the current day.
def test3(df):
    df["MovingAverage"]=df["Sales"].rolling(window=7).mean()
    return df
data = {
    'Date': ['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-05', '2023-08-06', '2023-08-07', '2023-08-08'],
    'Sales': [10, 12, 14, 16, 18, 20, 22, 24]
}

df = pd.DataFrame(data)
test3(df)

         Date  Sales  MovingAverage
0  2023-08-01     10            NaN
1  2023-08-02     12            NaN
2  2023-08-03     14            NaN
3  2023-08-04     16            NaN
4  2023-08-05     18            NaN
5  2023-08-06     20            NaN
6  2023-08-07     22           16.0
7  2023-08-08     24           18.0

In [97]:
#Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
# column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
# Monday, Tuesday) corresponding to each date in the 'Date' column.
def test4(df):
    df["Date"]=pd.to_datetime(df["Date"])
    df["Weekday"]=df["Date"].dt.day_name()
    return df
date=pd.date_range(start='2023-08-01',end='2023-08-10')
df=pd.DataFrame({"Date":date})
test4(df)

        Date    Weekday
0 2023-08-01    Tuesday
1 2023-08-02  Wednesday
2 2023-08-03   Thursday
3 2023-08-04     Friday
4 2023-08-05   Saturday
5 2023-08-06     Sunday
6 2023-08-07     Monday
7 2023-08-08    Tuesday
8 2023-08-09  Wednesday
9 2023-08-10   Thursday

In [99]:
#Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
def test5(df):
    df["Date"]=pd.to_datetime(df["Date"])
    start=pd.Timestamp('2023-01-01')
    end=pd.Timestamp('2023-01-31')
    return df[(df["Date"] >=start) & (df["Date"]<=end)]
df=pd.DataFrame({
    'Date': ['2023-01-15', '2023-01-25', '2023-02-05', '2023-01-10', '2023-02-15']})
test5(df)

        Date
0 2023-01-15
1 2023-01-25
3 2023-01-10

In [100]:
#Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
# be imported?
"""for that we need to import pandas library"""
import pandas as pd