In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
data = {'course_name' : course_name, 'duration' : duration}
df = pd.DataFrame(data)

In [18]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [19]:
#Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
"""The main differenece between loc and iloc is that iloc takes inbuilt integer indexes/location for columns
whereas loc takes column names to access data.
Loc select all rows as per ypur slection
whereas select rows startinf from specified to one less then end index"""
print(df.loc[0:2,["duration"]])#here we use column name directly
# select rows 0,1,2
print(df.iloc[0:2,[1]])#here to access duration column we used its index
#select rows 0,1

   duration
0         2
1         3
2         6
   duration
0         2
1         3

In [20]:
#Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].
reindex=[3,0,1,2]
new_df=df.reindex(reindex)
print(new_df.loc[2])#it retirve index label 2
print(new_df.iloc[2])#it retrienve index 3rd from starting

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [36]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.211264  0.633932  0.526674  0.479724  0.778897  0.406146
2  0.297926  0.664454  0.836439  0.627139  0.706483  0.362853
3  0.498515  0.008909  0.407773  0.596995  0.129687  0.234280
4  0.946893  0.123168  0.163492  0.834303  0.983939  0.706137
5  0.314923  0.736662  0.675652  0.069824  0.823003  0.309696
6  0.296237  0.754978  0.722571  0.894447  0.491507  0.272147

In [35]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column_1, ‘column_2’
print(df1.mean())
print(df1['column_2'].std())

column      0.452734
column_2    0.489781
column_3    0.670627
column_4    0.806714
column_5    0.458470
column_6    0.557605
dtype: float64
0.2879533033647766

In [39]:
#Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
# mean of column, column_2.
# If you are getting errors in executing it then explain why.
df1["column_2"].loc[2]="string"
print(df1)
df1["column_2"].mean()
#We get the error because we set second row data as a string and rest all are float and we can find mean of a string variable

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.211264  0.633932  0.526674  0.479724  0.778897  0.406146
2  0.297926    string  0.836439  0.627139  0.706483  0.362853
3  0.498515  0.008909  0.407773  0.596995  0.129687  0.234280
4  0.946893  0.123168  0.163492  0.834303  0.983939  0.706137
5  0.314923  0.736662  0.675652  0.069824  0.823003  0.309696
6  0.296237  0.754978  0.722571  0.894447  0.491507  0.272147

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
#Q6. What do you understand about the windows function in pandas and list the types of windows
# functions?
"""" pandas, the term "window functions" refers to a category of functions that allow you to perform calculations over a specified "window" or "rolling" 
subset of your data.They are provided by rolling() and expanding() functions.
The funciton are mean(), sum(), std(),min(),max(),var()
eg. df["Values"].rolling(window=2).mean() this select at a time 2 row data nd find mean on it
"""

In [57]:
#Q7. Write a code to print only the current month and year at the time of answering this question.
date=pd.Timestamp.now()
print("Month:",date.month)
print("Year:",date.year)

Month: 8
Year: 2023

In [61]:
#Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.
date1=input("Enter date in the format YYYY-MM-DD:")
date2=input("Enter date in the format YYYY-MM-DD:")
date1=pd.to_datetime(date1)
date2=pd.to_datetime(date2)
d=date1-date2
print(pd.Timedelta(d))

3 days 00:00:00

In [ ]:
#Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
# column to a categorical data type. The program should prompt the user to enter the file path, column
# name, and category order, and then display the sorted data.
# Read the CSV file into a DataFrame
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order: ").split(',')

df = pd.read_csv(file_path)
# Convert the specified column to a categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
# Sort the DataFrame based on the categorical column
print(df.sort_values(column_name))

In [ ]:
#Q10. Write a Python program that reads a CSV file containing sales data for different products and
# visualizes the data using a stacked bar chart to show the sales of each product category over time. The
# program should prompt the user to enter the file path and display the chart.
file_path=input("Enter the csv file path:")
df=pd.read_csv(file_path)
pd.plot.bar(x="Product_category",y="Sales")

In [82]:
#Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
# a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
# displays the results in a table.
# The program should do the followingM
# I Prompt the user to enter the file path of the CSV file containing the student dataR
# I Read the CSV file into a Pandas DataFrameR
# I Calculate the mean, median, and mode of the test scores using Pandas toolsR
# I Display the mean, median, and mode in a table.
# Assume the CSV file contains the following columnsM
# I Student ID: The ID of the studentR
# I Test Score: The score of the student's test.
import pandas as pd
file_path=input("Enter the file path of csv file")
df=pd.read_csv(filepath)
mean=df["Test Score"].mean()
median=df["Test Score"].median()
mode=df["Test Score"].mode()
result={"Statistic":["Mean","Median","Mode"],
        "Value":[mean,median,mode]}
result=pd.DataFrame(result)
result

  Statistic                                   Value
0      Mean                               83.333333
1    Median                                    85.0
2      Mode  0    85
Name: Test Score, dtype: int64